@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-x-hidden font-oswald;
  }

  body {
    @apply font-oswald;
  }

  h1 {
    @apply font-oswald text-5xl text-black font-bold md:text-left md:text-8xl;
  }
  h2 {
    @apply font-oswald text-4xl  md:text-left text-customyellow md:text-5xl;
  }

  a {
    @apply cursor-pointer;
  }
  .nav-link {
    @apply font-oswald lg:px-4 py-2 text-2xl  text-center  text-white hover:underline hover:text-gray-200;
  }
  .cta-link {
    @apply px-4 py-2 shadow-md  text-white font-semibold text-sm md:text-xl active:scale-95 transition-all duration-300;
  }
  .project {
    @apply w-full container mb-12 flex flex-col bg-darkgray border-customgray border
    lg:flex-row-reverse lg:odd:flex-row lg:even:border-l-4 lg:odd:border-r-4 lg:even:border-l-customyellow lg:odd:border-r-customyellow;
  }

  .form-input {
    @apply px-3 py-1 text-lg text-black rounded-lg focus:outline-none focus:ring-customyellow focus:ring;
  }
  label {
    @apply text-base;
  }
}

body,
html,
.main-content {
  scroll-behavior: smooth;
  scroll-margin-top: 100px;
}
